@font-face {
    font-family: "Oswald";
    src: url("../../../fonts/Oswald/Oswald-VariableFont_wght.ttf") format("truetype");
    font-weight: 200 700; /* Passe den Bereich an, wenn nötig */
    font-style: normal;
    font-display: swap;
  }