@import '../global/_font_face';

.OswaldBold {
    font-family: "Oswald" !important;
    font-weight: 700 !important;
    letter-spacing: 1px;
    border-bottom: 2px solid black;
    padding-bottom: .25em;
  }